.custom-button {
    background-color: #3A5BC5;
    border-radius: 10px;
    transition: 0.3s all;
    margin-left: 0;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    z-index: 2;

    &:hover {
        background-color: lighten($color: #3A5BC5, $amount: 10);
        cursor: pointer;
    }
}