.fast-and-easy {
    text-align: center;
    color: #010103;
    max-width: 1300px;
    margin: auto;

    .fast-easy-subheading {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .fast-easy-heading {
        margin: 1rem 0 2.5rem;
        font-size: 2.5rem;
    }

    .cards {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0 20px;

        .card-step {
            width: 250px;
            margin: 0 3rem;

            .fast-easy-card-heading {
                font-size: 1.3rem;
                font-weight: 700;
                margin-bottom: 0.5rem;
                color: #010103;
            }

            .fast-easy-card-text {
                color: #706f7b;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .fast-and-easy {
        .fast-easy-heading {
            max-width: 450px;
            margin: 1rem auto 2.5rem auto;
        }

        .cards {
            flex-direction: column;
            align-items: center;

            .card-step {
                width: auto;
                max-width: 400px;
                margin-bottom: 3rem;
            }
        }
    }
}