main {
    max-width: 1300px;
    padding: 0 20px;
    margin: auto;
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .left-main {
        max-width: 50rem;
        line-height: 1.2;

        h3 {
            color: #010103;
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }

        h1 {
            color: #010103;
            font-size: 3rem;
        }

        p {
            color: #706f7b;
            margin: 1rem 0;
            line-height: 1.5;
        }

        .left-main-button-link {
            text-decoration: none;
        }

        .left-main-buttons {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            margin-top: 2rem;
        }
    }

    position: relative;

    .right-main {
        width: 50%;
        z-index: -1;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: center;

        img {
            width: 80%;
        }
    }

}

.book-cleanic {
    max-width: 1330px;
    margin: auto;
    background-color: #fff;
    padding: 3rem;
    margin-bottom: 500px;

    h3 {
        margin-top: 0;
    }

    .book-content {
        display: flex;
        align-items: end;
        justify-content: space-between;

        .cleanicer-city,
        .cleanicer-type {
            display: flex;
            display: flex;
            flex-direction: column;
            width: 350px;

            select {
                cursor: pointer;
                border: 1px solid #ccd7e6;
                border-radius: 3px;
                color: #706f7b;
                font-size: 1rem;
                font-weight: 400;
                outline: none;
                padding: 1rem 1.3rem;
            }
        }

        button {
            width: 350px;
            padding: 1rem;
            font-size: 1rem;
            background-color: #3A5BC5;
            border: 1px solid #3a5bc5;
            color: white;
            box-shadow: 0 10px 15px rgba(58, 91, 197, .35);
            cursor: pointer;
            transition: 0.3s all;

            &:hover {
                box-shadow: 0 10px 15px rgba(58, 91, 197, .55);
            }
        }
    }
}

.background-home-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -100;
}

@media screen and (max-width: 1200px) {
    main {
        transition: 0.3s all;

        .left-main {
            max-width: 40rem;

            h3 {
                font-size: 1.2rem;
            }

            h1 {
                font-size: 2.5rem;
            }

            p {
                font-size: 0.85rem;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    main {
        justify-content: center;

        .right-main {

            img {
                display: none;
            }
        }

        .left-main {
            max-width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}


@media screen and (max-width: 500px) {
    main {

        .left-main {

            h1 {
                font-size: 2.3rem;
            }

            button {
                font-size: 0.9rem;
            }
        }
    }

    .background-home-image {
        display: none;
    }
}