$blue1: #3A5BC5;
$blue2: #0DADF2;
$blue3: #0FBEEC;

nav {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);

    .logo-div {
        color: #3A5BC5;
        font-weight: 900;
        font-size: 2rem;

        span {
            color: #333;
        }
    }

    .nav-links ul {
        list-style: none;
        display: inline-flex;

        li {
            padding: 20px;
        }
    }
}