.image-wrapper {
    width: 100%;
    height: 30rem;
    overflow: hidden;
    margin-top: -100px;

    .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 30rem;
        background-image: url("../../images/zoger-can.jpg");
        background-size: cover;
        z-index: -2;
    }

    .image-overlay2 {
        background-color: hsla(0, 0%, 100%, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 30rem;
        z-index: -1;
        display: flex;
        align-items: center;

        .image-heading {
            font-size: 3rem;
            width: 80%;
            margin: auto;
        }
    }
}


.aboutus-wrapper {
    min-width: 70%;
    margin: 5rem auto;

    .aboutus-top {
        display: flex;
        justify-content: center;
        // min-width: 1070px;
        flex-wrap: wrap;

        .aboutus-text {
            width: 500px;
            margin-top: .5rem;
            margin: 0 1rem;

            .aboutus-text-subheading {
                font-weight: 600;
            }

            .aboutus-text-heading {
                font-size: 2.1rem;
                margin-bottom: 2rem;
            }

            .aboutus-paragraph {
                color: #706f7b;
                margin-bottom: 1rem;
            }

            .aboutus-icons-container {
                display: flex;
                justify-content: space-between;
                margin: 2rem 0;

                .aboutus-icon-box {
                    width: 32%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;

                    .aboutus-icon {
                        border-radius: 50%;
                        width: 100px;
                    }

                    .aboutus-icon-number {
                        font-size: 2rem;
                    }

                    .aboutus-icon-text {
                        font-size: 0.7rem;
                        color: #706f7b;
                    }
                }
            }
        }
    }

    .aboutus-image-container {
        max-width: 500px;
        height: 500px;
        overflow: hidden;
        margin: 0 1rem;
        margin-top: 3rem;

        .aboutus-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

@media screen and (max-width: 1080px) {
    .aboutus-wrapper {
        .aboutus-top {
            width: 100%;
            flex-direction: column-reverse;

            .aboutus-text {
                width: 85%;
                margin: auto;
            }

            .aboutus-image-container {
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .aboutus-wrapper {
        width: 100%;
        margin-top: 1rem;

        .aboutus-top {
            flex-direction: column-reverse;
            margin-bottom: 3rem;

            .aboutus-text {
                padding: 0.5rem 1rem;
                margin: 0;
                width: 100%;

                .aboutus-text-subheading {
                    margin-bottom: 1rem;
                }

                .aboutus-text-heading {
                    font-size: 1.8rem;
                }
            }

            .aboutus-image-container {
                width: 100%;
                max-width: 100%;
                margin: 0;
                padding: 10px;
            }
        }
    }
}